In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('MA.csv')
df = df.dropna()
df.head()

   Month  Y_true
0      1  265.22
1      2  146.64
2      3  182.50
3      4  118.54
4      5  180.04

In [2]:
df.tail()

    Month  Y_true
34     35  581.17
35     36  647.82
36     37  650.81
37     38  677.54
38     39  666.56

In [3]:
alpha = 0.22
gamma = 0.64
s = 4
df['Level'] = 0.00
df['Level'][s-1] = np.mean([df['Y_true'][0:s]])
df['Level'][s-1]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

178.225

In [4]:
df['Seasonality'] = 0.00

for i in range(0,s):
    df['Seasonality'][i] = df['Y_true'][i] / df['Level'][s-1]

df.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Month  Y_true    Level  Seasonality
0      1  265.22    0.000     1.488119
1      2  146.64    0.000     0.822780
2      3  182.50    0.000     1.023987
3      4  118.54  178.225     0.665114
4      5  180.04    0.000     0.000000

In [5]:
for i in range(s,len(df.Y_true)):
    df['Level'][i] = alpha * ( df['Y_true'][i] / df['Seasonality'][i-s] ) + (1-alpha) * df['Level'][i-1]
    df['Seasonality'][i] = gamma * ( df['Y_true'][i] / df['Level'][i] ) + (1-gamma) * df['Seasonality'][i-s]

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Month  Y_true       Level  Seasonality
0      1  265.22    0.000000     1.488119
1      2  146.64    0.000000     0.822780
2      3  182.50    0.000000     1.023987
3      4  118.54  178.225000     0.665114
4      5  180.04  165.632189     1.231394
5      6  167.45  173.966913     0.912226
6      7  231.75  185.484886     1.168269
7      8  223.71  218.674813     0.894178

In [6]:
df['Y_pred'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Y_pred'][i] =  df['Level'][i-1] * df['Seasonality'][i-s]

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   Month  Y_true       Level  Seasonality      Y_pred
0      1  265.22    0.000000     1.488119    0.000000
1      2  146.64    0.000000     0.822780    0.000000
2      3  182.50    0.000000     1.023987    0.000000
3      4  118.54  178.225000     0.665114    0.000000
4      5  180.04  165.632189     1.231394  265.220000
5      6  167.45  173.966913     0.912226  136.278885
6      7  231.75  185.484886     1.168269  178.139776
7      8  223.71  218.674813     0.894178  123.368654

In [7]:
df.tail(8)

    Month  Y_true       Level  Seasonality      Y_pred
31     32  407.33  366.129895     1.181601  497.391621
32     33  681.92  412.586649     1.483030  432.483308
33     34  475.78  399.153435     1.250111  558.422844
34     35  581.17  407.670748     1.390193  529.784638
35     36  647.82  438.599575     1.370669  481.704000
36     37  650.81  438.652072     1.483432  650.456114
37     38  677.54  461.385066     1.389874  548.363792
38     39  666.56  465.364416     1.417167  641.414254

In [8]:
df['Absolute Error'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Absolute Error'][i] = abs( df['Y_pred'][i] - df['Y_true'][i] )

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   Month  Y_true       Level  Seasonality      Y_pred  Absolute Error
0      1  265.22    0.000000     1.488119    0.000000        0.000000
1      2  146.64    0.000000     0.822780    0.000000        0.000000
2      3  182.50    0.000000     1.023987    0.000000        0.000000
3      4  118.54  178.225000     0.665114    0.000000        0.000000
4      5  180.04  165.632189     1.231394  265.220000       85.180000
5      6  167.45  173.966913     0.912226  136.278885       31.171115
6      7  231.75  185.484886     1.168269  178.139776       53.610224
7      8  223.71  218.674813     0.894178  123.368654      100.341346

In [9]:
df.tail(8)

    Month  Y_true       Level  Seasonality      Y_pred  Absolute Error
31     32  407.33  366.129895     1.181601  497.391621       90.061621
32     33  681.92  412.586649     1.483030  432.483308      249.436692
33     34  475.78  399.153435     1.250111  558.422844       82.642844
34     35  581.17  407.670748     1.390193  529.784638       51.385362
35     36  647.82  438.599575     1.370669  481.704000      166.116000
36     37  650.81  438.652072     1.483432  650.456114        0.353886
37     38  677.54  461.385066     1.389874  548.363792      129.176208
38     39  666.56  465.364416     1.417167  641.414254       25.145746

In [10]:
df['Squared Error'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Squared Error'][i] = ( df['Y_pred'][i] - df['Y_true'][i] )**2

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error
0,1,265.22,0.000000,1.488119,0.000000,0.000000,0.000000
1,2,146.64,0.000000,0.822780,0.000000,0.000000,0.000000
2,3,182.50,0.000000,1.023987,0.000000,0.000000,0.000000
3,4,118.54,178.225000,0.665114,0.000000,0.000000,0.000000
4,5,180.04,165.632189,1.231394,265.220000,85.180000,7255.632400
5,6,167.45,173.966913,0.912226,136.278885,31.171115,971.638416
6,7,231.75,185.484886,1.168269,178.139776,53.610224,2874.056107
7,8,223.71,218.674813,0.894178,123.368654,100.341346,10068.385705

In [11]:
df.tail(8)

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error
31,32,407.33,366.129895,1.181601,497.391621,90.061621,8111.095549
32,33,681.92,412.586649,1.483030,432.483308,249.436692,62218.663275
33,34,475.78,399.153435,1.250111,558.422844,82.642844,6829.839696
34,35,581.17,407.670748,1.390193,529.784638,51.385362,2640.455395
35,36,647.82,438.599575,1.370669,481.704000,166.116000,27594.525521
36,37,650.81,438.652072,1.483432,650.456114,0.353886,0.125236
37,38,677.54,461.385066,1.389874,548.363792,129.176208,16686.492652
38,39,666.56,465.364416,1.417167,641.414254,25.145746,632.308521

In [12]:
df['Precent Error1'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Precent Error1'][i] = abs ((  df['Y_true'][i] - df['Y_pred'][i] ) / df['Y_true'][i])

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1
0,1,265.22,0.000000,1.488119,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,0.822780,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,1.023987,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,0.665114,0.000000,0.000000,0.000000,0.000000
4,5,180.04,165.632189,1.231394,265.220000,85.180000,7255.632400,0.473117
5,6,167.45,173.966913,0.912226,136.278885,31.171115,971.638416,0.186152
6,7,231.75,185.484886,1.168269,178.139776,53.610224,2874.056107,0.231328
7,8,223.71,218.674813,0.894178,123.368654,100.341346,10068.385705,0.448533

In [13]:
df.tail(8)

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1
31,32,407.33,366.129895,1.181601,497.391621,90.061621,8111.095549,0.221102
32,33,681.92,412.586649,1.483030,432.483308,249.436692,62218.663275,0.365786
33,34,475.78,399.153435,1.250111,558.422844,82.642844,6829.839696,0.173700
34,35,581.17,407.670748,1.390193,529.784638,51.385362,2640.455395,0.088417
35,36,647.82,438.599575,1.370669,481.704000,166.116000,27594.525521,0.256423
36,37,650.81,438.652072,1.483432,650.456114,0.353886,0.125236,0.000544
37,38,677.54,461.385066,1.389874,548.363792,129.176208,16686.492652,0.190655
38,39,666.56,465.364416,1.417167,641.414254,25.145746,632.308521,0.037725

In [14]:
df['Precent Error2'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Precent Error2'][i] = ( (  df['Y_pred'][i] - df['Y_true'][i] ) / df['Y_true'][i-1] )**2

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2
0,1,265.22,0.000000,1.488119,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,0.822780,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,1.023987,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,0.665114,0.000000,0.000000,0.000000,0.000000,0.000000
4,5,180.04,165.632189,1.231394,265.220000,85.180000,7255.632400,0.473117,0.516351
5,6,167.45,173.966913,0.912226,136.278885,31.171115,971.638416,0.186152,0.029976
6,7,231.75,185.484886,1.168269,178.139776,53.610224,2874.056107,0.231328,0.102500
7,8,223.71,218.674813,0.894178,123.368654,100.341346,10068.385705,0.448533,0.187465

In [15]:
df.tail(8)

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2
31,32,407.33,366.129895,1.181601,497.391621,90.061621,8111.095549,0.221102,2.446704e-02
32,33,681.92,412.586649,1.483030,432.483308,249.436692,62218.663275,0.365786,3.749971e-01
33,34,475.78,399.153435,1.250111,558.422844,82.642844,6829.839696,0.173700,1.468736e-02
34,35,581.17,407.670748,1.390193,529.784638,51.385362,2640.455395,0.088417,1.166451e-02
35,36,647.82,438.599575,1.370669,481.704000,166.116000,27594.525521,0.256423,8.169897e-02
36,37,650.81,438.652072,1.483432,650.456114,0.353886,0.125236,0.000544,2.984141e-07
37,38,677.54,461.385066,1.389874,548.363792,129.176208,16686.492652,0.190655,3.939641e-02
38,39,666.56,465.364416,1.417167,641.414254,25.145746,632.308521,0.037725,1.377397e-03

In [16]:
df['Precent Error3'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Precent Error3'][i] = ( (  df['Y_true'][i] - df['Y_true'][i-1] ) / df['Y_true'][i-1] )**2

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3
0,1,265.22,0.000000,1.488119,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,0.822780,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,1.023987,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,0.665114,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,5,180.04,165.632189,1.231394,265.220000,85.180000,7255.632400,0.473117,0.516351,0.269166
5,6,167.45,173.966913,0.912226,136.278885,31.171115,971.638416,0.186152,0.029976,0.004890
6,7,231.75,185.484886,1.168269,178.139776,53.610224,2874.056107,0.231328,0.102500,0.147452
7,8,223.71,218.674813,0.894178,123.368654,100.341346,10068.385705,0.448533,0.187465,0.001204

In [17]:
df.tail(8)

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3
31,32,407.33,366.129895,1.181601,497.391621,90.061621,8111.095549,0.221102,2.446704e-02,0.085584
32,33,681.92,412.586649,1.483030,432.483308,249.436692,62218.663275,0.365786,3.749971e-01,0.454440
33,34,475.78,399.153435,1.250111,558.422844,82.642844,6829.839696,0.173700,1.468736e-02,0.091381
34,35,581.17,407.670748,1.390193,529.784638,51.385362,2640.455395,0.088417,1.166451e-02,0.049067
35,36,647.82,438.599575,1.370669,481.704000,166.116000,27594.525521,0.256423,8.169897e-02,0.013152
36,37,650.81,438.652072,1.483432,650.456114,0.353886,0.125236,0.000544,2.984141e-07,0.000021
37,38,677.54,461.385066,1.389874,548.363792,129.176208,16686.492652,0.190655,3.939641e-02,0.001687
38,39,666.56,465.364416,1.417167,641.414254,25.145746,632.308521,0.037725,1.377397e-03,0.000263

In [18]:
df['Error'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Error'][i] = ( df['Y_pred'][i] - df['Y_true'][i] )

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error
0,1,265.22,0.000000,1.488119,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,0.822780,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,1.023987,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,0.665114,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,5,180.04,165.632189,1.231394,265.220000,85.180000,7255.632400,0.473117,0.516351,0.269166,85.180000
5,6,167.45,173.966913,0.912226,136.278885,31.171115,971.638416,0.186152,0.029976,0.004890,-31.171115
6,7,231.75,185.484886,1.168269,178.139776,53.610224,2874.056107,0.231328,0.102500,0.147452,-53.610224
7,8,223.71,218.674813,0.894178,123.368654,100.341346,10068.385705,0.448533,0.187465,0.001204,-100.341346

In [19]:
df.tail(8)

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error
31,32,407.33,366.129895,1.181601,497.391621,90.061621,8111.095549,0.221102,2.446704e-02,0.085584,90.061621
32,33,681.92,412.586649,1.483030,432.483308,249.436692,62218.663275,0.365786,3.749971e-01,0.454440,-249.436692
33,34,475.78,399.153435,1.250111,558.422844,82.642844,6829.839696,0.173700,1.468736e-02,0.091381,82.642844
34,35,581.17,407.670748,1.390193,529.784638,51.385362,2640.455395,0.088417,1.166451e-02,0.049067,-51.385362
35,36,647.82,438.599575,1.370669,481.704000,166.116000,27594.525521,0.256423,8.169897e-02,0.013152,-166.116000
36,37,650.81,438.652072,1.483432,650.456114,0.353886,0.125236,0.000544,2.984141e-07,0.000021,-0.353886
37,38,677.54,461.385066,1.389874,548.363792,129.176208,16686.492652,0.190655,3.939641e-02,0.001687,-129.176208
38,39,666.56,465.364416,1.417167,641.414254,25.145746,632.308521,0.037725,1.377397e-03,0.000263,-25.145746

In [20]:
df['Squared Error Diff'] = 0.00

for i in range(s+1,len(df.Y_true)):
    df['Squared Error Diff'][i] = ( df['Error'][i] - df['Error'][i-1] )**2

df.head(9)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error,Squared Error Diff
0,1,265.22,0.000000,1.488119,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,0.822780,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,1.023987,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,0.665114,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,5,180.04,165.632189,1.231394,265.220000,85.180000,7255.632400,0.473117,0.516351,0.269166,85.180000,0.000000
5,6,167.45,173.966913,0.912226,136.278885,31.171115,971.638416,0.186152,0.029976,0.004890,-31.171115,13537.581983
6,7,231.75,185.484886,1.168269,178.139776,53.610224,2874.056107,0.231328,0.102500,0.147452,-53.610224,503.513604
7,8,223.71,218.674813,0.894178,123.368654,100.341346,10068.385705,0.448533,0.187465,0.001204,-100.341346,2183.797767
8,9,192.98,205.044018,1.045647,269.274932,76.294932,5820.916633,0.395351,0.116311,0.018869,76.294932,31200.374649

In [21]:
df.tail(9)

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error,Squared Error Diff
30,31,575.77,381.319738,1.327271,327.709084,248.060916,61534.218198,0.430833,3.216760e-01,0.100132,-248.060916,70792.850119
31,32,407.33,366.129895,1.181601,497.391621,90.061621,8111.095549,0.221102,2.446704e-02,0.085584,90.061621,114326.850129
32,33,681.92,412.586649,1.483030,432.483308,249.436692,62218.663275,0.365786,3.749971e-01,0.454440,-249.436692,115259.104369
33,34,475.78,399.153435,1.250111,558.422844,82.642844,6829.839696,0.173700,1.468736e-02,0.091381,82.642844,110276.818303
34,35,581.17,407.670748,1.390193,529.784638,51.385362,2640.455395,0.088417,1.166451e-02,0.049067,-51.385362,17963.559970
35,36,647.82,438.599575,1.370669,481.704000,166.116000,27594.525521,0.256423,8.169897e-02,0.013152,-166.116000,13163.119414
36,37,650.81,438.652072,1.483432,650.456114,0.353886,0.125236,0.000544,2.984141e-07,0.000021,-0.353886,27477.078338
37,38,677.54,461.385066,1.389874,548.363792,129.176208,16686.492652,0.190655,3.939641e-02,0.001687,-129.176208,16595.190456
38,39,666.56,465.364416,1.417167,641.414254,25.145746,632.308521,0.037725,1.377397e-03,0.000263,-25.145746,10822.337062

In [22]:
MSE = np.mean(df['Squared Error'][s:-1])
MSE

9401.213345151402

In [23]:
RMSE = np.sqrt(np.mean(df['Squared Error'][s:-1]))
RMSE

96.95985429625708

In [24]:
MAE = np.mean(df['Absolute Error'][s:-1])
MAE

75.14226783352419

In [25]:
MAPE = np.mean(df['Precent Error1'][s:-1])
MAPE

0.2270998730527791

In [26]:
ThielsU = np.sqrt( np.sum( df['Precent Error2'][s:-1] ) / np.sum( df['Precent Error3'][s:-1] ) )
ThielsU

0.8474610260589768